.venv/
.secrets
.youtube_oauth.json
__pycache__/
*.pyc
cache/
*.log
modeles/
memoire/
workspace/
passerelle/passerelle.json
passerelle/passerelle.sqlite
installateur/charge/
installateur/build/
installateur/dist/
outils_externes/
installateur/charge.zip
installateur/python_embarque/
passerelle/passerelle.json.avant
